@import "../Variables.scss";

dl[humge-type="accordion"] {
  color: $accordion-text;

  dt {
    display: block;
    background-color: $accordion-dt;
    padding: 10px 20px;
    cursor: pointer;
    color: $accordion-dt-text;

    &.active {
      background-color: $accordion-dt-active;
    }
  }

  dd {
    display: block;
    background-color: $accordion-dd;
    overflow: hidden;

    .accordText {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &.open {
      display: block;
      overflow: inherit;
    }
  }
}
