$project-font-family: "Roboto", sans-serif;
$project-font-size: 14px;
$project-font-width: 100;
$wraper-max: 1440px;
$wraper-min: 960px;
$wraper: 80%;
$fontsize: 1em;
$grid-gutter: 3%;
$form-controls-background: #fff;
$form-controls-disabled: #eeeeee;
$form-control-focus-line: #32b000;
$buttons-color: #001e67;
$buttons-text: #fff;
$button-action: #32b000;
$pagination-text: #fff;
$pagination-color: #001e67;
$pagination-disabled: #c2c2c2;
$pagination-active: #32b000;
$accordion-text: #000;
$accordion-dt: #001e67;
$accordion-dt-text: #fff;
$accordion-dt-active: #32b000;
$accordion-dd: #fff;
$tabs-text: #fff;
$tabs: #3a59a4;
$tabs-current: #001e67;
$tabs-text-current: #fff;
$tabs-content: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);
$slider-dots: #ffffff;
$slider-dots-active: #32b000;
$slider-loadbar: #ff0000;
$slider-img-info: rgba(0, 0, 0, 0.37);
$slider-img-info-text: #fff;

$table-thead: #001e67;
$table-thead-text: #fff;
$table-border: #c2c2c2;
$table-tr-hover: #f9f9f9;
/*only for Variables for Dashboard */

$menu-call-color: #000;
$dashboard-navbar-width: 250px;
$dashboard-navigation: #001e67;
$dashboard-navigation-text: #fff;
$dashboard-navigation-hover: #32b000;
$dashboard-header: #fff;
$dashboard-header-tool-icon-hover: #32b000;

@mixin transition {
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
